.formContainer {
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary);
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: flex-start; */
  flex-direction: column;
}

:root {
  --primary: #939dff;
  --secondary: #fff593;
}

.submitButton {
  cursor: pointer;
  background: var(--primary);
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
}

.outputBoxes {
  margin-top: 20px;
  color: black;
}
